@import "./base";



.ac-anchor {
  position: absolute;
  box-sizing: border-box;


  &.default {

    width: 16px;
    height: 16px;
    background-color: transparent;

    .inner-circle {
      width: 40%;
      height: 40%;
      left: 50%;
      top: 50%;
      margin-left: -20%;
      margin-top: -20%;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      box-sizing: border-box;
    }

    .outer-circle {
      width: 90%;
      height: 90%;
      left: 50%;
      top: 50%;
      margin-left: -45%;
      margin-top: -45%;
      background-color: transparent;
      border-radius: 50%;
      border: 2px solid black;
      position: absolute;
      box-sizing: border-box;


    }


  }
}

$line-width: 2px;
$line-ending-radius: $line-width/2;

.ac-connector {

  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;

  &.default {



    .line {

      transform-origin: $line-width/2 $line-width/2;
      background-color: black;
      border: none;
      border-radius: $line-ending-radius;
      height: $line-width;
      box-sizing: border-box;
      top: -1 * $line-width/2;
      left: -1 * $line-width/2;
      position: absolute;



      //transition: scaleX .2s ease-in-out;

      &.visible {
        //transform: scaleX(1);
      }
    }

  }

}

.ac-callout-body {

  position: absolute;
  box-sizing: border-box;
  top: 200px;
  left: 200px;
  overflow: hidden;

  &.default {
    border: 0px solid black;
  }
}

.ac-callout-body-sections {

}



.ac-welding-seam {
  position: absolute;
  box-sizing: border-box;
  &.default {

    background-color: black;
    border-radius: $line-ending-radius;

    &.west {
      width: $line-width;
    }
    &.north {
      height: $line-width;
    }
    &.east {
      width: $line-width;
    }
    &.south {
      height: $line-width;
    }
  }
}

