@import "./base";

.ac-anchor {
  position: absolute;
  box-sizing: border-box;
  background-color: transparent;

  &.default {

    width: 16px;
    height: 16px;

    .inner-circle {
      width: 40%;
      height: 40%;
      left: 50%;
      top: 50%;
      margin-left: -20%;
      margin-top: -20%;
      background-color: black;
      border-radius: 50%;
      position: absolute;
      box-sizing: border-box;
    }

    .outer-circle {
      width: 90%;
      height: 90%;
      left: 50%;
      top: 50%;
      margin-left: -45%;
      margin-top: -45%;
      background-color: transparent;
      border-radius: 50%;
      border: 2px solid black;
      position: absolute;
      box-sizing: border-box;

    }

  }
}

$line-width: 2px;
$line-ending-radius: $line-width/2;

.ac-connector {

  position: absolute;
  box-sizing: border-box;
  left: 0;
  top: 0;
  right: 0;

  &.default {

    .line {

      transform-origin: $line-width/2 $line-width/2;
      background-color: black;
      border: none;
      border-radius: $line-ending-radius;
      height: $line-width;
      box-sizing: border-box;
      top: -1 * $line-width/2;
      left: -1 * $line-width/2;
      position: absolute;

      //transition: scaleX .2s ease-in-out;

      &.visible {
        //transform: scaleX(1);
      }
    }

  }

}

.ac-callout-body-container {

  position: absolute;
  box-sizing: border-box;
  border: none;

}

.ac-callout-body {

  position: relative;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  overflow: hidden;

  &.default {
    border: 0px solid black;
  }
}

.ac-callout-body-sections {

}

.ac-welding-seam {
  position: absolute;
  box-sizing: border-box;
  &.default {

    background-color: black;
    border-radius: $line-ending-radius;

    &.west {
      width: $line-width;
    }
    &.north {
      height: $line-width;
    }
    &.east {
      width: $line-width;
    }
    &.south {
      height: $line-width;
    }
  }
}

.off-site-indicator {

  position: absolute;
  display: flex;
  align-items: center;

  &.hidden {
    opacity: 0;
  }

  opacity: 1;
  transition: opacity .6s ease;

  &.north {
    flex-direction: column;

  }
  &.east {
    flex-direction: row-reverse;

    .nose {
      transform: rotate(90deg);
    }
  }
  &.south {
    flex-direction: column-reverse;
    .nose {
      transform: rotate(180deg);
    }
  }
  &.west {
    flex-direction: row;

    .nose {
      transform: rotate(-90deg);

    }
  }

  .body {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 3px;
    padding: 3px 9px;
  }

  .nose {

    min-width: 10px;
    min-height: 10px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMDAgODYuNiIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDg2LjY7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGc+Cgk8cG9seWxpbmUgcG9pbnRzPSIxMDAsODYuNiAwLDg2LjYgNTAsMCAJIi8+CjwvZz4KPC9zdmc+Cg==');
    background-position-y: 2px;
  }
}

